@charset "UTF-8";

.q6-box-text {
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
}

.whitebox {
  text-align: center;
}

.is-textalign .q6-box-text {
  display: inline-block;
}

.is-margin .q6-box-text {
  margin: 0 auto;
  text-align: center;
}

.is-table {
  display: table;
}

.q6-box2 {
  display: table-cell;
  background-color: #ECF1F2;
  text-align: center;
  vertical-align: middle;
}

.q6-box-text2 {
  display: inline-block;
  padding: 10px;
  background-color: #FFF;
}

.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-flex .q6-box-text2 {
  padding: 10px;
  background-color: #FFF;
}

.q6__box3 {
  position: relative;
}

.is-stable .q6__box__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.is-flexible .q6__box__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}