@charset "UTF-8";

.q6--horizontal .textbox {
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
}

.q6_box.is_textalign .q6_box_white {
  text-align: center;
}

.q6_box.is_textalign .textbox {
  display: inline-block;
}

.q6_box.is_margin .textbox {
  margin: 0 auto;
  text-align: center;
}